<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="icon" href="~/logo.ico" />
    @RenderSection("css", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Base.css")
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Base.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
