@using Microsoft.AspNet.Identity
@model IEnumerable<ProjectTwo.Models.ManageDbModels.Group>
@{
    ViewBag.Title = "Pchat";
}
@section css{
    @Styles.Render("~/Content/Site.css")
}
@section scripts{
    @Scripts.Render("~/Scripts/Site.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.2.min.js")
    <script src="~/Scripts/handleRealTime.js"></script>
    <script src="~/signalr/hubs"></script>
}
<nav class="navbar">
    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")

    <div class="search-bar">
        <label for="searchBar"><i class="uil uil-search"></i></label>
        <div class="search-box">
            <input type="text" name="searchBar" id="searchBar" placeholder="Search your friend ..." autocomplete="off" />
            <ul class="search-result">
            </ul>
        </div>
    </div>
    <i class="uil uil-sun mode-view"></i>
    <div class="selection-theme">
        <div class="default circle selected-theme">

        </div>
        <div class="list-theme">
            <div class="default circle ">

            </div>
            <div class="blue circle ">

            </div>
            <div class="pastel circle ">

            </div>
            <div class="orange circle ">

            </div>
            <div class="purple circle ">

            </div>
            <div class="teal circle ">

            </div>
            <div class="pink circle ">

            </div>

        </div>
    </div>
    <div class="toggle-btn">
        <i class="uil uil-comments-alt"></i>
    </div>
</nav>


@if (User.Identity.IsAuthenticated)
{
    <ul class="nav-list">

        @foreach (var item in Model)
        {
            @Html.Partial("~/Views/Message/RenderNavItem.cshtml", item)
        }
    </ul>

    <header class="page-container">
        <div class="cover active"><p>Welcome back @User.Identity.Name !</p></div>
        <span class="overlay"></span>
        @foreach (var item in Model)
        {
            @Html.Partial("~/Views/Message/RenderPage.cshtml", item)

        }
    </header>
    <form class="type-bar" id="type-bar">
        <input type="hidden" name="userId" id="userId" value="@User.Identity.GetUserId()" />
        <label for="sendImage"><i class="uil uil-image"></i></label>
        <input type="file" name="image" id="sendImage" style="display:none;" />
        <input type="text" name="message" id="message" placeholder="Abc" autocomplete="off" />
        <button type="submit"><i class="uil uil-message"></i></button>
    </form>
    <div class="box-alert">
        
    </div>
    <div class="box-confirm-leave">
        <input type="hidden" name="groupId" />
        <p class="name-group">Hello world</p>
        <p class="confirm-sentence">Do you wanna leave?</p>
        <div class="actions">
            <button class="cancel">Cancel</button>
            <button class="accept">Accept</button>
        </div>
    </div>
}
else
{
    <div class="welcome-page">
        <p>Welcome to PChat</p>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
}

