@using Microsoft.AspNet.Identity
@model IEnumerable<ProjectTwo.Models.ManageDbModels.Group>
@{
    ViewBag.Title = "Pchat";
}
@section css{
    @Styles.Render("~/Content/Site.css")
}
@section scripts{
    @Scripts.Render("~/Scripts/Site.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.2.min.js")
    <script src="~/Scripts/handleRealTime.js"></script>
    <script src="~/signalr/hubs"></script>
    @*<script>
        function convertToBase64(target) {            
            if (target.files && target.files[0]) {
                var FR = new FileReader();
                FR.onload = function (e) {
                    target.previousSibling.previousSibling.innerHTML = '<img src="' + e.target.result + '"/>';
                    target.previousSibling.value = e.target.result;
                };
                FR.readAsDataURL(target.files[0]);
            }
            console.log(target.previousSibling);
        }
    </script>*@
}
<nav class="navbar">
    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")

    <div class="search-bar">
        <label for="searchBar"><i class="uil uil-search"></i></label>
        <div class="search-box">
            <input type="text" name="searchBar" id="searchBar" placeholder="Search your friend ..." autocomplete="off" />
            <ul class="search-result">
            </ul>
        </div>
    </div>
    <i class="uil uil-sun mode-view"></i>
    <div class="selection-theme">
        <div class="circle selected-theme">

        </div>
        <div class="list-theme">
            <div class="default circle ">

            </div>
            <div class="blue circle ">

            </div>
            <div class="pastel circle ">

            </div>
            <div class="orange circle ">

            </div>
            <div class="purple circle ">

            </div>
            <div class="teal circle ">

            </div>
            <div class="pink circle ">

            </div>

        </div>
    </div>
    <div class="toggle-btn">
        <i class="uil uil-comments-alt"></i>
    </div>
</nav>


@if (User.Identity.IsAuthenticated)
{
<ul class="nav-list">

    @foreach (var item in Model)
    {
        <li class="link">
            <input type="hidden" name="groupId" value="@item.GroupId" />
            <div class="image">
                @if (item.GroupImg != null)
                {
                    <img src="@item.GroupImg" />
                }
                else
                {
                    @item.GroupName.Substring(0, 2);
                }
            </div>
            <span class="tooltip">@item.GroupName</span>
        </li>
    }
</ul>

<header class="page-container">
    <div class="cover active"><p>Welcome back @User.Identity.Name !</p></div>
    <span class="overlay"></span>
    @foreach (var item in Model)
    {
        <section class="page @item.GroupId">
            <div class="header-chat">
                <input type="hidden" name="groupId" id="groupId" value="@item.GroupId" />
                <div class="image">
                    @if (item.GroupImg != null)
                    {
                        <img src="@item.GroupImg" />
                    }
                    else
                    {
                        @item.GroupName.Substring(0, 2);
                    }
                </div>
                <span class="tooltip">@item.GroupName</span>
            </div>
            <div class="content-chat">
                @*<div class="person">
                    <div class="image">
                        <img src="https://images.unsplash.com/photo-1640191826083-61fba2dc62d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDYzfGVkUU9taWhlVXRZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" />
                    </div>
                    <ul class="content-message">
                        <li class="message-item">sayhello</li>
                        <li class="message-item">xin chao</li>
                        <li class="message-item">i love you so much</li>
                        <li class="message-item">chuc mot ngay tot lanh</li>
                        <li class="message-item">than</li>
                    </ul>
                </div>
                <div class="me">
                    <ul class="content-message">
                        <li class="message-item">sayhello</li>
                        <li class="message-item">xin chao</li>
                        <li class="message-item">i love you so much</li>
                        <li class="message-item">chuc mot ngay tot lanh</li>
                        <li class="message-item picture">
                            <div class="image">
                                <img src="https://images.unsplash.com/photo-1640191826083-61fba2dc62d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDYzfGVkUU9taWhlVXRZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" />
                            </div>
                        </li>
                    </ul>
                </div>*@
            </div>
            <div class="options">
                <div class="edit-group">
                    <i class="uil uil-pen"></i>
                    <form class="form-edit">
                        <input type="text" id="nameGroup" value="@item.GroupName" autocomplete="off"/>
                        <label for="@item.GroupId" class="image">
                            @if (item.GroupImg != null)
                            {
                                <img src="@item.GroupImg" />
                            }
                            else
                            {
                                @item.GroupName.Substring(0, 2);
                            }
                        </label>
                        <input type="hidden" id="imageData" />
                        <input type="file" id="@item.GroupId" style="display:none" class="img-group"/>
                        <i class="uil uil-check btn-update"></i>
                        @*<i class="uil uil-spinner"></i>*@
                    </form>
                </div>                
                <div class="group">
                    <i class="uil uil-users-alt"></i>
                    <ul class="members">
                        <li class="member-item add-member"><i class="uil uil-plus"></i>Add</li>
                        @foreach (var member in item.Members)
                        {
                            <li class="member-item">
                                <div class="image">
                                    @if (member.Avatar != null)
                                    {
                                        <img src="@member.Avatar" />
                                    }
                                    else
                                    {
                                        @member.UserName.Substring(0, 2);
                                    }
                                </div>
                                <span class="tooltip">@member.UserName</span>
                            </li>
                        }

                    </ul>
                </div>

                <i class="uil uil-sign-out-alt"></i>
            </div>
        </section>
    }    
</header>
    <form class="type-bar" id="type-bar">
        <input type="hidden" name="userId" id="userId" value="@User.Identity.GetUserId()" />
        <label for="sendImage"><i class="uil uil-image"></i></label>
        <input type="file" name="image" id="sendImage" style="display:none;" />
        <input type="text" name="message" id="message" placeholder="Abc" autocomplete="off" />
        <button type="submit"><i class="uil uil-message"></i></button>
    </form>
}
else
{
    <div class="welcome-page">
        <p>Welcome to PChat</p>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
}

